.skills{
    width: 100%;
    .skill{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        .skill-list{
            display: flex;
            margin-left: 40px;
            margin-bottom: 5px;
            width: 530px;
            overflow-x: auto;
            &::-webkit-scrollbar{
                background: white;
                width: 4px;
                height: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background: gray;
                border-radius: 10px;
              }
            .skill-name{
                display: flex;
                background-color: slategrey;
                color: white;
                border-radius: 10px;
                margin: 0 10px 5px 0;
                p{
                    padding: 3px 7px 3px 7px;
                    margin: 0;
                }                
                .clear-skill{
                    margin: 0;
                    background-color: inherit;
                    color: red;
                    border: none;
                    cursor: pointer;
                    font-weight: bold;
                    border-radius: 10px;
                }
            }
        }
        .skill-field{
            display: flex;
            flex-direction: column;
            margin: 5px 60px 5px 40px;
            label{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 500;
            }
            .field{
                padding: 10px;
                font-size: 18px;
                border: 1px solid gray;
                border-radius: 10px;
                margin-top: 4px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}
.next{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #16FF00;
    border: 1px solid #16FF00;
    margin: 0px 60px 5px 40px;
    cursor: pointer;
    transition: ease-in-out 300ms;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    &:active{
        background-color: green;
    }
}
